footer {

    padding: 1em 0;
    background-color: #1C276C;
    margin-top: auto;

    .logo__footer {
        position: relative;
        top: 190px;

        .footer__lista {
            list-style: none;
            margin-top: auto;

        }

    }

    .textoRedes {
        font-size: 20px;
        /* font-family: poppins; */
        color: #ece9e9;
        padding: 4rem 0;
    }

    .redes {

        li {

            display: inline-block;

            a {

                img {

                    width: 80px;
                    height: 75px;
                }

            }

        }
    }




}

// @media (min-width:576px) and (max-width:720px) {

//     footer {
//         padding: 1em 0;
//         background-color: #1C276C;
//         margin-top: auto;


//         .footer__lista {
//             list-style: none;
//             margin-left: 60px;
//             position: relative;
//             bottom: 120px;



//             li {
//                 display: inline-block;
//                 padding: 10px;



//                 a {
//                     text-decoration: none;
//                     color: #ece9e9;
//                     font-size: 18px;
//                     font-family: 'Lato', sans-serif;
//                     line-height: 30px;
//                     letter-spacing: 2px;
//                 }
//             }
//         }

//         .textoRedes {
//             font-size: 20px;
//             font-family: poppins;
//             color: #ece9e9;
//             margin-left: 12rem;
//             position: relative;
//             top: 35px;

//         }

//         .redes {
//             display: flex;
//             justify-content: center;
//             margin-bottom: 52px;

//             li {

//                 display: inline-block;

//                 a {

//                     img {

//                         width: 60px;
//                         height: 55px;
//                     }

//                 }

//                 .email {

//                     color: #e2dfdf;
//                     font-family: 'Ubuntu', sans-serif;
//                     position: relative;
//                     font-size: 20px;
//                     margin-right: 15rem;
//                     bottom: 25px;

//                 }
//             }
//         }
//     }
// }