@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Ubuntu&family=Ubuntu+Condensed&display=swap');

@font-face {
    font-family: poppins;
    src: url(../fuentes/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins__bold;
    src: url(../fuentes/Poppins-Bold.ttf);
}
