header {
    background-color: #F3F7FF;
    padding: 10px 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    left: 0;

    .lista {

        list-style: none;
        text-decoration: none;

        li {

            a {

                &:hover {
                    background-color: #d6d4d4;
                    border-radius: 5px;
                }
            }

        }
    }

}