
.parrafoGrande {

    display: flex;
    justify-content: center;
    padding-top: 230px;
    font-size: 40px;
    /* letter-spacing: 2px; */
    color: #FFFFFF;
    /* font-family: 'Oswald', sans-serif; */
}

.parrafo {

    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 33px;
    color: #FFFFFF;

    /* font-family: 'Oswald', sans-serif; */

}

