@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Ubuntu&family=Ubuntu+Condensed&display=swap");
@font-face {
  font-family: poppins;
  src: url(../fuentes/Poppins-Regular.ttf); }

@font-face {
  font-family: poppins__bold;
  src: url(../fuentes/Poppins-Bold.ttf); }

* {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  box-sizing: border-box; }

header {
  background-color: #F3F7FF;
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  left: 0; }
  header .lista {
    list-style: none;
    text-decoration: none; }
    header .lista li a:hover {
      background-color: #d6d4d4;
      border-radius: 5px; }

.cuerpo {
  background-image: url(../imagenes/fondoIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; }

.cuerpoPropiedades {
  background-image: url(../imagenes/fondoPropiedades.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.parrafoGrande, .parrafo {
  display: flex;
  justify-content: center;
  padding-top: 230px;
  font-size: 40px;
  animation-name: animacionTexto;
  animation-timing-function: ease;
  animation-duration: 5s; }

.parrafo {
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
  animation-name: animacionTexto;
  animation-timing-function: ease;
  animation-duration: 5s; }

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .logo2 {
    height: 80px;
    margin-bottom: 1rem; }
  footer .redes, footer .footer__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    box-sizing: border-box; }
    footer .redes .red, footer .footer__lista .red {
      height: 50px;
      width: 50px;
      border-radius: 50px;
      border: 1px solid #f2f2f2;
      background-image: url(../imagenes/instragram.png);
      background-position: center;
      background-size: 40%;
      background-repeat: no-repeat;
      margin: 1rem; }
      footer .redes .red:hover, footer .footer__lista .red:hover {
        background-color: #121212;
        filter: invert(1);
        transition: 0.5s; }
    footer .redes .red:nth-of-type(2), footer .footer__lista .red:nth-of-type(2) {
      background-image: url(../imagenes/facebook.png); }
    footer .redes .red:nth-of-type(3), footer .footer__lista .red:nth-of-type(3) {
      background-image: url(../imagenes/twitter.png); }
    footer .redes .red:nth-of-type(4), footer .footer__lista .red:nth-of-type(4) {
      background-image: url(../imagenes/gmail2.png); }
  footer .footer__lista {
    list-style: none;
    color: #f2f2f2;
    font-size: 18px; }
    footer .footer__lista .lista_f {
      text-decoration: none;
      color: #f2f2f2;
      margin: 1rem 1.5rem;
      cursor: pointer;
      opacity: 0.6;
      transition: 0.5s;
      font-family: Arial, Helvetica, sans-serif; }
      footer .footer__lista .lista_f:hover {
        opacity: 1;
        transition: 0.5s; }
  footer .copyright {
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; }

.carrousel {
  padding-bottom: 10rem; }

.checkbtn {
  font-size: 30px;
  color: #0e0e0e;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

/* PROPIEDADES */
.texto {
  display: flex;
  padding-top: 250px;
  justify-content: center;
  top: 6rem;
  font-size: 55px;
  color: #FFFFFF;
  animation-name: animacionTexto;
  animation-timing-function: ease;
  animation-duration: 5s; }

@keyframes animacionTexto {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%); }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%); }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%); }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%); } }

.casa1 {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear; }

.casa1:hover {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* TASACION */
.cuerpoTasacion {
  background-image: url(../imagenes/fondoTasacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.form {
  background-color: #000000;
  border-radius: 10px;
  width: 480px;
  height: 580px;
  margin: auto;
  padding: 42px;
  margin-top: 100px; }

.form p {
  font-size: 26px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #FFFFFF; }

.datos {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
  padding: 10px;
  width: 195.5px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 0px; }

.dire {
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 20px;
  border: 0px; }

.textArea {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 11px;
  height: 140px;
  font-family: 'Ubuntu Condensed', sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 0px; }

.boton {
  font-size: 18px;
  padding: 10px;
  font-family: 'Ubuntu Condensed', sans-serif;
  width: 100%;
  background-color: #1C276C;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0px;
  border: 2px solid transparent;
  -webkit-transition: border-top-color 0.15s linear 0s, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  -moz-transition: border-top-color 0.15s linear 0s, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  -ms-transition: border-top-color 0.15s linear 0s, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  -o-transition: border-top-color 0.15s linear 0s, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  transition: border-top-color 0.15s linear 0s, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s; }

.boton:hover {
  border-color: #ffffff; }

.tips {
  background-color: #F3F7FF;
  border-radius: 10px;
  width: 480px;
  height: 580px;
  margin: auto;
  padding: 30px;
  margin-top: 100px; }

.tips h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  font-size: 26px;
  margin-top: 15px; }

.puntos {
  list-style-type: disc;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  padding: 30px;
  line-height: 90px;
  margin-left: 100px; }

/* NOSOTROS */
.cuerpoNosotros {
  background-image: url(../imagenes/fondoNosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.cajaUno {
  background-color: #101110;
  width: 691px;
  height: 393px;
  border-radius: 10px; }

.cajaUno p {
  font-size: 25px;
  margin-top: 25px;
  color: #E6E6E6;
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 50px;
  padding: 30px; }

.titulo {
  display: flex;
  justify-content: center;
  padding-top: 250px;
  padding-bottom: 100px;
  top: 6rem;
  font-size: 50px;
  color: #FFFFFF;
  animation-name: animacionTexto;
  animation-timing-function: ease;
  animation-duration: 5s; }

/* CONTACTO */
.cuerpoContacto {
  background-image: url(../imagenes/fondoContacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.formContacto {
  background-color: #000000;
  border-radius: 10px;
  width: 460px;
  height: 500px;
  margin: auto;
  padding: 30px;
  margin-top: 18rem; }

.formContacto p {
  font-size: 46px;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #FFFFFF;
  margin-bottom: 15px;
  text-align: center; }

.orden {
  padding-bottom: 100px; }

.lista__inicio {
  font-size: 20px;
  color: white; }

.lista__propiedades {
  font-size: 20px;
  color: white; }

.lista__tasacion {
  font-size: 20px;
  color: white; }

.lista__nosotros {
  font-size: 20px;
  color: white; }

.lista__contacto {
  font-size: 20px;
  color: white; }

.parrafoGrande, .parrafo {
  color: #FFFFFF; }

.parrafo {
  font-size: 33px; }

.logo {
  width: 180px;
  height: 110px; }

/* RESPONSIVE */
.header_index {
  grid-area: header; }

.navegar {
  grid-area: nav; }

.parrafos {
  grid-area: titulo; }

footer {
  grid-area: footer; }

.propiedades {
  grid-area: propiedades; }

.texto {
  grid-area: titulo__propiedades; }

.tips {
  grid-area: tip; }

.form {
  grid-area: form; }

.titulo {
  grid-area: titulo_nosotros; }

.cajaDos {
  grid-area: imagen_nosotros; }

.cajaUno {
  grid-area: cuadro_nosotros; }

.carrousel {
  grid-area: carousel; }

.wrapper {
  display: grid;
  grid-template-areas: "header" "nav" "titulo" "carousel" "footer"; }

@media (min-width: 721px) {
  .navegar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .logo {
    width: 180px;
    height: 110px;
    margin-left: 20px; }
  .lista li {
    display: inline-block; }
  .lista li a {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    display: block;
    padding: 0.5rem 2rem;
    margin-right: 20px;
    transition: all 0.5s linear;
    color: #212323; }
  .cuadroNegro {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 30rem;
    height: 15rem; }
  .cuadroNegro img {
    width: 125px;
    height: 80px;
    padding: 10px;
    margin-right: 25px; }
  .cuadroNegro p {
    padding: 10px;
    font-size: 17px;
    font-family: poppins; } }

/* TASACION */
.ordenar {
  display: flex;
  justify-content: space-between;
  margin-top: 14rem;
  padding-bottom: 120px; }

/* NOSOTROS */
.infoNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px; }

.foto {
  width: 599px;
  height: 350px;
  border-radius: 10px; }

.casa1 {
  border-radius: 10px; }

.propiedades {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 5em;
  margin: 150px; }

/* RESPONSIVE INDEX*/
@media (min-width: 576px) and (max-width: 720px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 1fr;
    grid-template-areas: "header" "nav" "titulo" "carousel" "footer"; }
  header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    left: 0; }
  .cuerpo {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; }
  .lista {
    display: flex;
    justify-content: center; }
  .lista li a {
    font-size: 13px;
    margin-top: 30px;
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 0.3rem 1.5rem;
    transition: all 0.5s linear;
    color: #212323;
    font-family: Poppins__bold, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  header .logo {
    margin: auto;
    display: block; }
  .parrafoGrande, .parrafo {
    text-align: center; }
  .parrafo {
    text-align: center; } }

@media (max-width: 576px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 1fr;
    grid-template-areas: "header" "nav" "titulo" "carousel" "footer"; }
  header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    left: 0; }
  .cuerpo {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; }
  footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  header .logo {
    margin-left: 20px; }
  .checkbtn {
    display: block; }
  .lista {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 138px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1; }
  nav .lista li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav .lista li a {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #ffffff; }
  li a:hover {
    background: none; }
  #check:checked ~ ul {
    left: 0; }
  .parrafoGrande, .parrafo {
    font-size: 30px;
    text-align: center; }
  .parrafo {
    font-size: 20px;
    text-align: center; } }

@media (min-width: 576px) and (max-width: 720px) {
  .wrapperP {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas: "header" "nav" "titulo__propiedades" "propiedades" "footer"; }
  .cuerpoPropiedades {
    margin: 0;
    width: 100%;
    height: auto; }
  .propiedades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding-top: 10px; }
  .propiedades .casa1 {
    border-radius: 20px;
    padding: 10px; }
  .abajo {
    margin-bottom: 70px; } }

@media (max-width: 576px) {
  .wrapperP {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas: "header" "nav" "titulo__propiedades" "propiedades" "footer"; }
  .cuerpoPropiedades {
    margin: 0;
    width: 100%;
    height: auto; }
  .casa1 {
    height: 350px;
    width: 320px;
    border-radius: 10px; }
  .propiedades {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 15px; }
  .abajo {
    margin-bottom: 70px; }
  header .logo {
    margin-left: 20px; }
  .checkbtn {
    display: block; }
  .lista {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 138px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1; }
  nav .lista li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav .lista li a {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #ffffff; }
  li a:hover {
    background: none; }
  #check:checked ~ ul {
    left: 0; } }

/* RESPONSIVE TASACION */
@media (min-width: 576px) and (max-width: 720px) {
  .wrapperT {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas: "header" "nav" "tip" "form" "footer"; }
  .cuerpoTasacion {
    margin: 0;
    width: 100%;
    height: auto; }
  .ordenar {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    margin-top: 14rem; } }

@media (max-width: 576px) {
  .wrapperT {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas: "header" "nav" "cuadro" "form" "footer"; }
  .cuerpoTasacion {
    margin: 0;
    width: 100%;
    height: auto; }
  header .logo {
    margin-left: 20px; }
  .checkbtn {
    display: block; }
  .lista {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 138px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1; }
  nav .lista li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav .lista li a {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #ffffff; }
  li a:hover {
    background: none; }
  #check:checked ~ ul {
    left: 0; }
  .form {
    width: 350px;
    height: 765px;
    margin: auto; }
  .datos {
    width: 100%; }
  .tips {
    background-color: #F3F7FF;
    border-radius: 10px;
    width: 350px;
    height: 600px;
    margin: auto;
    padding: 30px;
    margin-top: 50px; }
  .abajo2 {
    margin-bottom: 100px; }
  .tips h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 15px; }
  .puntos {
    font-size: 20px;
    padding: 30px;
    line-height: 90px;
    margin-left: 35px; }
  .ordenar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    margin-top: 12rem;
    padding-bottom: 5rem; } }

/* RESPONSIVE NOSOTROS  */
@media (min-width: 576px) and (max-width: 720px) {
  .wrapperN {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 1fr;
    grid-template-areas: "header" "nav" "titulo_nosotros" "imagen_nosotros" "cuadro_nosotros" "footer"; }
  .cuerpoNosotros {
    margin: 0;
    width: 100%;
    height: auto; }
  .cajaUno {
    background-color: #101110;
    width: 550px;
    height: 353px;
    border-radius: 10px; }
  .cajaUno p {
    font-size: 21px;
    padding: 42px; }
  .foto {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 30px; }
  .infoNosotros {
    display: block;
    margin: auto;
    padding-bottom: 100px; } }

@media (max-width: 576px) {
  .cuerpoNosotros {
    margin: 0;
    width: 100%;
    height: auto; }
  header .logo {
    margin-left: 20px; }
  .checkbtn {
    display: block; }
  .lista {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 138px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1; }
  nav .lista li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav .lista li a {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #ffffff; }
  li a:hover {
    background: none; }
  #check:checked ~ ul {
    left: 0; }
  .cajaUno {
    width: 325px;
    height: 510px;
    border-radius: 10px; }
  .cajaUno p {
    font-size: 18px;
    padding: 30px; }
  .foto {
    width: 325px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 30px; }
  .infoNosotros {
    display: block;
    margin: auto;
    padding-bottom: 100px; } }

/* RESPONSIVE CONTACTO */
@media (max-width: 576px) {
  header .logo {
    margin-left: 20px; }
  .checkbtn {
    display: block; }
  .lista {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 138px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1; }
  nav .lista li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav .lista li a {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #ffffff; }
  li a:hover {
    background: none; }
  #check:checked ~ ul {
    left: 0; }
  .formContacto {
    width: 350px;
    height: 680px;
    margin: auto;
    margin-top: 18rem; }
  .formContacto p {
    font-size: 40px; } }
